@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trabajito!</h1>
    <p><a href="http://localhost:39085/Products/Products" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

